Numbers :
Numbers are numerical Values
They are of two types:
-Integer - Whole Numbers
-Float - Decimal Numbers

Strings :
Ordered Sequence of characters
they are immutable
characters can be accessed by indexing and slicing

Lists :
Ordered sequence of different types of objects
they are mutable
objects can be accessed by indexing and slicing

Tuples :
Ordered sequence of different types of objects
they are immutable
objects can be accessed by indexing and slicing

Dictionaries :
They hold key-value pairs
they are unordered
they are mutable
values can be accessed by corresponding keys

Numbers

100.25
90 + 2.25 * 4
2 ** 7 - 38 + 2.25 * 4 + 1 / 4

In [1]:
4 * (6 + 5)

44

In [2]:
4 * 6 + 5

29

In [3]:
4 + 6 * 5

34

3 + 1.5 + 4
8.5 (Float)

for square root: num ** 0.5
for square : num ** 2

Strings

In [4]:
s = 'hello'
s[1]

'e'

In [5]:
s = 'hello'
s[::-1]

'olleh'

In [7]:
s = 'hello'
s[4]
s[-1]

'o'

Lists

In [8]:
list1 = [0, 0, 0]
list1

[0, 0, 0]

In [9]:
list2 = []
list2.append(0)
list2.append(0)
list2.append(0)
list2

[0, 0, 0]

In [26]:
[0] * 3

[0, 0, 0]

In [10]:
list3 = [1, 2, [3, 4, 'hello']]
list3[2][2] = 'goodbye'
list3

[1, 2, [3, 4, 'goodbye']]

In [29]:
list4 = [5, 3, 4, 6, 1]
list4.sort()
list4

[1, 3, 4, 5, 6]

In [27]:
sorted(list4)

[1, 3, 4, 5, 6]

Dictionaries

In [13]:
d = {'simple_key':'hello'}
d['simple_key']

'hello'

In [14]:
d = {'k1':{'k2':'hello'}}
d['k1']['k2']

'hello'

In [15]:
d = {'k1':[{'nest_key':['this is deep', ['hello']]}]}
d['k1'][0]['nest_key'][1][0]

'hello'

In [16]:
d = {'k1':[1, 2, {'k2':['this is tricky', {'tough':[1, 2, ['hello']]}]}]}
d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

Can you sort a dictionary?
No, we can't sort a dictionary as it is an unordered type of data structure.
they are mappings not a sequence

Tuples

Difference between tuples and lists
tuples are immutable and uses ()
while lists are mutable and uses {}

how do you create a tuple?
- by using braces ()
- by using function tuple()

Sets

what is unique about set
sets are immutable and stores unique values

In [30]:
list5 = [1, 2, 2, 33, 4, 4, 11, 22, 3, 3, 2]
set(list5)

{1, 2, 3, 4, 11, 22, 33}

Booleans

a = 3, b = 4

a == b -> False
a != b -> True
a > b - > False
a < b -> True
a >= b - > False
a <= b -> True

In [18]:
2 > 3

False

In [19]:
3 <= 2

False

In [20]:
3 == 2.0

False

In [21]:
3.0 == 3

True

In [22]:
4 ** 0.5 != 2

False

In [25]:
l_one = [1, 2, [3, 4]]
l_two = [1, 2, {'k1': 4}]

l_one[2][0] >= l_two[2]['k1']

False